
body{margin:0;font-family:sans-serif;background:linear-gradient(135deg,#ff8bd1,#8b7bff);height:100vh;overflow:hidden;color:white}
.screen{display:flex;height:100%}
.left{flex:1;padding:40px;display:flex;flex-direction:column;justify-content:center}
.magician{height:90vh;}
#wand{display:none;position:fixed;top:0;left:0;width:100%;height:100%;background:black}
